/* tags classes then ids */
.navbar-brand {
    background-color: aquamarine;
    padding: 15px;
}

/* ask gretel how to make menu change colors */
@media (max-width: 768px){
    .navsmall{
    background-color: aquamarine;}
    }

body{
    background: rgb(215, 214, 214);
}

table{
    background-color: white;
}

class{
    background-color: white;
}

img {
    display: block;
    float: left;
    padding: 1;
    width: 50%;
    height: auto;
    }

h1{
    padding: 3px;
    padding-bottom: 5px;
    font-size: 50px;
}

.image-comparison{
    width: auto;
    height: auto;
}

#featured-pic{
    width: 200px;
    height: auto;
    float: left;
}

#page{
    width: auto;
    height: auto;
}